# Ignore all files
*

# Allow specific files and directories
!app/page.css
!app/cart/page.js
!app/cart/page.css
!app/globals.css
!app/page.js
!public/images
!public/data.js
!public/loading.svg

# Keep Menu files (adjust the correct path)
!app/components/Menu.js
!app/components/Menu.css

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Keep only the client/app directory from the main branch
!client/app/
