# Ignore all files first
*

# Allow main app files and directories
!app/
!app/page.css
!app/page.js
!app/cart/
!app/cart/page.js
!app/cart/page.css
!app/globals.css

# allow reservation folder
!app/reservation/
!app/reservation/page.js
!app/reservation/reservation.css

# allow admin folder
!app/admin/
!app/admin/page.js
!app/admin/AdminDashboard.css

# allow restaurant folder
!app/restaurant/
!app/restaurant/page.js
!app/restaurant/Dashboard.css


# Allow public files
!public/
!public/images
!public/data.js
!public/loading.svg

# Allow orders folder
!app/orders/
!app/orders/page.js
!app/orders/orders.css

# Allow components
!app/components/
!app/components/Menu.js
!app/components/Menu.css

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
