.menu-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #222;
  color: white;
  z-index: 1000;
  height: 100%;
  width: 60%;
  padding: 10px;
}
.menu-container button#close-btn {
  background-color: #4db6ac;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  right: 20px;
  cursor: pointer;
  border: none;
}
.menu-container button#close-btn:hover {
  background-color: #388e8e;
}
.menu-container button#order-btn {
  cursor: pointer;
  background-color: #4db6ac;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: none;
}
.menu-container button#order-btn:hover {
  background-color: #388e8e;
}
.menu-container table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.menu-container th,
.menu-container td {
  padding: 8px;
  text-align: left;
}

.order-form-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-form-container {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 30%;
  height: 70%;
  text-align: center;
}
.order-form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.order-form-container form input {
  width: 60%;
  padding: 10px;
}
.order-form-container .form-buttons {
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
}
.order-form-container .form-buttons button {
  background-color: #4db6ac;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.order-form-container .form-buttons button:hover {
  background-color: #388e8e;
}
