.menu-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #222;
  color: white;
  z-index: 1000;
  height: 100%;
  width: 60%;
  padding: 10px;
  overflow-x: scroll;
}
.menu-container button#close-btn {
  background-color: #4db6ac;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  right: 20px;
  cursor: pointer;
  border: none;
}
.menu-container button#close-btn:hover {
  background-color: #388e8e;
}
.menu-container button#order-btn {
  cursor: pointer;
  background-color: #4db6ac;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 5px;
  width: 100px;
  height: 30px;
}
.menu-container button#order-btn:hover {
  background-color: #388e8e;
}
.menu-container table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.menu-container th,
.menu-container td {
  padding: 8px;
  text-align: left;
}

.order-form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* Overlay to block interactions */
.login-prompt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of everything */
}

/* Login prompt modal */
.login-prompt {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

/* Close button styling */
.login-prompt button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #4db6ac;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.login-prompt button:hover {
  background-color: #ff2d42;
}

/* Disable pointer events on the rest of the page when modal is open */
.menu-overlay.modal-open {
  pointer-events: none;
  filter: blur(2px); /* Slight blur effect */
}
